.products {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  min-height: 100vh;
  margin: 30px 0;
  padding: 0 25px;
  flex-grow: 1;

  &__title {
    text-transform: capitalize;
    color: black;
    padding-left: 10px;
    line-height: 54px;
    font-size: 36px;
  }

  &-page_card {
    margin-bottom: 40px;
    padding: 0 20px;
  }
}
