.header {
  background-color: #022b32;
  padding: 25px 20px;
  display: flex;
  vertical-align: middle;

  &__logo {
    width: 110px;
    margin: auto 0 auto 20px;
  }
  &__nav {
    display: flex;
    flex-wrap: wrap;

    &-link {
      margin: auto 30px;
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
      text-decoration: none;
      text-transform: uppercase;
      color: #fff;
    }
  }
}
