@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");

html {
  height: -webkit-fill-available;
}

body {
  height: 100vh;
  min-height: 100vh;
  min-height: -webkit-fill-available;
}
#root {
  min-height: 100vh;
}
div {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 19px;
}
*::-webkit-scrollbar {
  width: 5px;
  background-color: rgba(199, 199, 199, 0.595);
}
*::-webkit-scrollbar-thumb {
  background-color: #022b32;
}
