@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
.home {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 10% 0;
  min-height: 100vh;
  flex-grow: 1;

  @media all and (max-width: 1400px) {
    padding: 15% 0;
    flex: 1 1 auto;
    min-height: 85vh;
  }
  &__title {
    text-transform: capitalize;
    color: black;
    line-height: 54px;
    font-size: 36px;
    margin: 0 100px;

    @media all and (max-width: 991px) {
      margin: 0 20px;
    }
  }
}
